#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# .tfvars files
*.tfvars
*.auto.tfvars

# Jetbrains IDE Files
.idea

client.rb
*.userdata
windows*.json
linux*.json
*.swp